* {
  box-sizing: border-box;
}
body {
	background-color:#232323;
	font-family:Verdana;
	color: white;
}
.grid-container {
 	display: grid;
  	grid-template-columns: 20% 20% 20% 20% 20%;
	height:2.5vw;
	width:100%;
	top:0;
	position:sticky;
}
.navbg {
	background-color:rgb(70, 190, 190);
	border-bottom:0.1vw solid #232323;
}
.abtme{
	float:left;
	padding: 0.5vw 1.3vw;
	margin:0% 1%;
}
.abtme.mastery {
	background-color:rgb(70, 190, 190);
	color:#232323;
	font-weight:bold;
	font-size:1.5vw;
	border-radius:1.8vw;
	width:26%;
	height:30vw;
	line-height:0.8;
}
.abtme.aboutme {
	background:rgba(70, 190, 190, 0.1);
	color:rgb(200, 200, 200);
	font-family:monospace!important;
	font-size:1.5vw;
	text-align:left;
	width:70%;
	height:30vw;
	line-height:0.5vw;
	border-radius:1.8vw;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px) {
	.abtme.mastery {
	width: 100%;
	padding-left:20%;
	padding-right:20%;
	}
	.abtme.aboutme {
  	width: 100%;
  	}
}
.typing {
	font-size; 1vw;
	color:white;
	position: relative;
	animation-name: typing;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

@keyframes typing {
	from {color: rgba(70, 190, 190, 0.1);}
	to {color:white;}
} 
.aboutme p {
	margin: 1.2vw 0.6vw;
	padding:0.6vw;
}
.aboutme p:hover {
	background-color:#434343;
}
h3 {
	padding:auto;	
	text-align:center;
}
a:link {
 	text-decoration: none;
	color:#232323;
	font-size:0.8vw;
}
a:visited {
	color:#232323;
	text-decoration: none;
}
a:hover {
  	text-decoration: none;
}
div.navbg:hover {
  	background-color: rgb(59, 140, 255);
}
a:active {
 	 color: #232323;
	 text-decoration: none;
}
.bgimage {
  	width: 100%;
	margin-bottom:5px;
}
h1 {
	margin-bottom:0%;
	color:rgb(70, 190, 190);
	background-color:#232323 ;	
	font-size:7vw ;
	text-align:center
}
h6 {
	margin:0% ;
	padding:30px;
	padding-top:1px ;
	color:rgb(70, 190, 190);
	background-color:#232323 ;
	font-size:1.8vw ;
	text-align:center
}
h2 {
	margin:30px 30px 60px;
	font-size: 5vw;
	color:rgb(70, 190, 190);
	text-decoration-line: underline;
	text-decoration-color: red;
	text-decoration-style: wavy;
}
